{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kijabi Infectious Disease</title>
  <link rel='stylesheet' type="text/css" href='static/styles.css'/>
</head>
<body>
  <div>
    <div class='header'>
      <ul class='menu'>
        <li class='dropdown'><span>Pages &#9662;<span>
          <ul class='pages-menu'>
            <li><a href='/data'>Data Input Page</a></li>
            <li><a href='/query'>Query Page</a></li>
            <li><a href='/analytics'>Analytics page</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% block content %}

  {% endblock %}
</div>
</body>
<html>
